@font-face {
    font-family: 'Acme';
    src: url('./Acme-Regular.ttf');
}

#mainTitle {
    color: #AC3791;
    font-size: 60pt;
    font-family: Acme;
}

#secondaryText {
    color: #E3F8FE;
    font-weight: bold;
    font-size: 18px;
}

#navBarLogo {
    width: 200px;
    height: 200px;
}

#getStartedBtn {
    background-color: #AC3791;
}

#getStartedText {
    font-family: Acme;
    color: white;
}

#signUpTitle {
    color: #AC3791;
    font-family: Acme;
}

#subscribeBtn {
    background-color: #505F98;
    color: white;
}

#sectionHeading {
    color: #AC3791;
    font-family: Acme;
}

#beliefs {
    font-family: Acme;
}
